*.class
/target
.metadata
.project
.settings
.classpath
.DS_Store
.idea/*
.vscode
/logs
/resources/app/test-network
*~
/resources/systemmanagement/.idea
/activemq-data
/dmason
resources/systemmanagement/master/conf/simid.json
resources/systemmanagement/master/bower_components/elements/.bower.json
resources/systemmanagement/master/bower_components/get-size/.bower.json
resources/systemmanagement/master/bower_components/masonry/.bower.json
resources/systemmanagement/master/bower_components/outlayer/.bower.json
/bin/
