*.class
/target
.metadata
.project
.settings
.classpath
.DS_Store
/logs
/resources/app/test-network
*~
/resources/systemmanagement/.idea
/activemq-data
/dmason
/resources/systemmanagement/master/conf/*.json
