.content {
    padding: 16px 10px 16px 50px;
}

#paperDrawerPanel {
    background-color: #D73D32;
}

.red .paper-header {
    //background-color: #D73D32;
    background-color: yellow;
}

.paper-header {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    padding: 0 10px;
    color: white;
    transition: height 0.2s;
}


.drawer_content {
    height: 2000px;
}