
* { box-sizing: border-box;}
body {color:#bdced7;}


.grid-monitoring, .grid-settings, .grid-history {
    background: transparent;
    max-width: 100%;
}


/* clearfix */
.grid-monitoring:after,.grid-settings:after, .grid-history:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-sizer-monitoring,
.grid-item-monitoring
{
    width: 200px;
    heigth:200px;
}

.grid-sizer-settings,
.grid-item-settings
{
    width: 300px;
    heigth:300px;
}
.grid-sizer-history,
.grid-item-history
{
    width: 300px;
    heigth:300px;
}

.grid-item-settings{
    width:300px;
    height:300px;
    float: left;
    background-color: #3f4242;
    border: 2px solid #0c3308;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    font-size: large;
    position:relative;
}

.grid-item-monitoring {
width: 230px;
height: 190px;
float: left;
background-color: #cfd8dc;
border: 3px solid;
border-color: black;
border-radius: 15px;
font-size: large;
padding: 10px;
position: relative;
color: black;
margin-top: 20px;
margin-left: 20px;
}

.grid-item-history {
    width:auto;
    height:auto;
    float: left;
    background-color: #3f4242;
    border: 2px solid #0c3308;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    font-size: large;
    padding:10px;
    position:relative;
}


.span-icon{
    margin-left:10px;
}

.hidden{
    display: none;
}

.tab{
    margin-left:1em;
}
.grid-item-monitoring:hover{
    background-color: #0F9D58;
    color:#ffffff;
}

.grid-item-selected{
    background-color: #427fed ;
    color:black;
}

.worker-system-info {
    width:auto;
    overflow: hidden;

}

.submit_work_form {
    width: 100%;
    height: 50px;
    margin:2%;
}
