
* { box-sizing: border-box; }

body{ color:black;}

.grid-monitoring, .grid-settings {
    background: transparent;
    max-width: 100%;
}


/* clearfix */
.grid-monitoring:after,.grid-settings:after, .grid-history:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-sizer-monitoring,
.grid-item-monitoring
{
    width: 200px;
    height:200px;
}

.grid-sizer-settings,
.grid-item-settings
{
    width: 300px;
    height:300px;
}

.grid-item-settings{
    width:300px;
    height:300px;
    float: left;
    background-color: white;
    border: 2px solid #0c3308;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    font-size: large;
    position:relative;

}

.grid-item-monitoring {
    width: 230px;
    height: 190px;
    float: left;
    background-color: #1B72CC;
    border-radius: 15px;
    border: 2px solid;
    border-color:  hsla(0, 0%, 0%, 0.5);
    font-size: large;
    padding: 10px;
    position: relative;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}



.span-icon{
    margin-left:10px;
}

.hidden{
    display: none;
}

.tab{
    margin-left:1em;
}
.grid-item-monitoring:hover{
    background-color:  #35A4D4;
    color:black;
    border:2px solid;
    border-color: black;
}

.grid-item-selected{
    background-color:  #35A4D4;
    color:black;
    border:2px solid ;
    border-color:black;
}

.worker-system-info {
    width:auto;
    overflow: hidden;

}

.submit_work_form {
    width: 100%;
    height: 50px;
    margin:2%;
}



a {
    text-decoration:none !important;
    color: black !important;
}
