
* { box-sizing: border-box; }



.grid-monitoring, .grid-simulations {
    background: transparent;
    max-width: 100%;
}


/* clearfix */
.grid-monitoring:after, .grid-simulations:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-sizer-monitoring,
.grid-item-monitoring,
.grid-sizer-simulations,
.grid-item-simulations{
    width: 200px;
    heigth:200px;
}

.grid-item-monitoring, .grid-item-simulations {
    width:200px;
    height:200px;
    float: left;
    background-color: #3f4242;
    border: 2px solid #0c3308;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    font-size: large;
    position:relative;
}

/* center text */
.grid-item-monitoring{
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}
.span-icon{
    margin-left:10px;
}

.grid-item-monitoring:hover{
    background-color: grey;
}

.grid-item-selected{
    background-color: grey;
}

.worker-system-info, {
    width:auto;
    overflow: hidden;

}

.grid-item-simulations:hover{
    border-color: white;
}