<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>JSP Example Application</display-name>

	<servlet id="jsp">
		<servlet-name>uu</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>logVerbosityLevel</param-name>
			<param-value>DEBUG</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>>false</param-value>
		</init-param>
		<init-param>
			<param-name>keepgenerated</param-name>
			<param-value>>true</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspf</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.xsp</url-pattern>
		<url-pattern>*.JSP</url-pattern>
		<url-pattern>*.JSPF</url-pattern>
		<url-pattern>*.JSPX</url-pattern>
		<url-pattern>*.XSP</url-pattern>
	</servlet-mapping>

    <servlet id="getWorkers">
        <servlet-name>GetConnectedWorkersServlet</servlet-name>
        <servlet-class>it.isislab.dmason.experimentals.systemmanagement.master.web.utils.GetConnectedWorkersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetConnectedWorkersServlet</servlet-name>
        <url-pattern>/getWorkers</url-pattern>
    </servlet-mapping>
    
      <servlet id="submitSimulation">
        <servlet-name>SubmitSimulationServlet</servlet-name>
        <servlet-class>it.isislab.dmason.experimentals.systemmanagement.master.web.utils.SubmitSimulationServlet</servlet-class>
	  </servlet>
    <servlet-mapping>
        <servlet-name>SubmitSimulationServlet</servlet-name>
        <url-pattern>/submitSimulation</url-pattern>
    </servlet-mapping>
   
    <servlet id="controller">
        <servlet-name>SimulationControllerServlet</servlet-name>
        <servlet-class>it.isislab.dmason.experimentals.systemmanagement.master.web.utils.SimulationControllerServlet</servlet-class>
	  </servlet>
    <servlet-mapping>
        <servlet-name>SimulationControllerServlet</servlet-name>
        <url-pattern>/simulationController</url-pattern>
    </servlet-mapping>
    
 	<servlet id="simulationList">
        <servlet-name>GetSimulationListServlet</servlet-name>
        <servlet-class>it.isislab.dmason.experimentals.systemmanagement.master.web.utils.GetSimulationListServlet</servlet-class>
	  </servlet>
    <servlet-mapping>
        <servlet-name>GetSimulationListServlet</servlet-name>
        <url-pattern>/simulationList</url-pattern>
    </servlet-mapping>
    
    	<servlet id="requestForLog">
        <servlet-name>GetInfoForLogServlet</servlet-name>
        <servlet-class>it.isislab.dmason.experimentals.systemmanagement.master.web.utils.GetInfoForLogServlet</servlet-class>
	  </servlet>
    <servlet-mapping>
        <servlet-name>GetInfoForLogServlet</servlet-name>
        <url-pattern>/requestForLog</url-pattern>
    </servlet-mapping>
    
    	<servlet id="removeSimulation">
        <servlet-name>RemoveSimulationServlet</servlet-name>
        <servlet-class>it.isislab.dmason.experimentals.systemmanagement.master.web.utils.RemoveSimulationServlet</servlet-class>
	  </servlet>
    <servlet-mapping>
        <servlet-name>RemoveSimulationServlet</servlet-name>
        <url-pattern>/removeSimulation</url-pattern>
    </servlet-mapping>
    
</web-app>